<div class="wrapper aboutus">
    <div class="header">
        <h3>About Us</h3>
    </div>

    <div class="row">
        <div class="col-6">
            <p>&copy; WaveBotDex</p>
            <img src ='../assets/tcc_logo.jpeg'>
            <p>Copyright ©TheCryptoCode </p>
            <a href="https://www.TheCryptoCode.com" target="_blank">https://www.TheCryptoCode.com</a>
            <br />
            <p>Current Version : <span id="tcc_version"></span>
                <!-- <br><br>
                Latest Version : <span>0.0.2</span>
                <br>
                <button type="button" id="updateSetup">Update to new version</button> -->
            </p>
        </div>
        <!-- <div class="col-6"><img style="width: inherit; float: right;" src="../assets/aboutus.jpeg" /></div> -->
    </div>
    <div class="row">
        <div class="col-12">
            <p>Legal Disclaimer :</p>
            <div class="scroll_area">
                <p>USE THIS BOT AT YOUR OWN RISK!</p>
                <p>By enabling this BOT you AGREE and UNDERSTAND that BOT trading is risky and you could lose all your funds for many reasons,including but not limited to:</p>
                <p>1.Not setting things up correctly.</p>
                <p>2. Bugs in the BOT software.</p>
                <p>3. Hackers getting into your computer or your wallet.</p>  
                <p>We use their BOT ourselves and try our best to not have problems or issues that could cause loss of funds.That said. Using BOTs can be risky so please do not invest funds you can not afford to lose.</p>
                <p>By enabling this BOT  you agree to indemnify, hold and defend us, our officers, directors, shareholders, \npredecessors,successors in interest, employees, agents, clients and partners, harmless from any demands, loss,liability, claims or expenses, made against us by any and all third-party claims and liabilities arising out of or related to or in connection with your use of this BOT.</p>
                <p>Our BOT charges a 1% fee on the wins, which helps pay for the servers and resources to run this BOT.</p>
            </div>
        </div>
        
    </div>
</div>
