<div class="inner-wrapper dashboard-wrapper">
    <div class="kpi-box">
        <div class="box color1">
            <p>Active Bots</p>
            <h4 id="active_bots"></h4>
            <span>Total Bots : <span id="total_bot"></span> </span>
        </div>
        <div class="box color2">
            <p>Active Deals</p>
            <h4 id="deals_count"></h4>
        </div>
        <div class="box color3">
            <p>Overall Profit</p>
            <h4 id="out_amount_minus_amount"></h4>
            <div><span id="other_profit"></span></div>
        </div>
        <div class="box color4">
            <p>Transactions</p>
            <h4 id="transactions_count"></h4>
        </div>
    </div>
    <!-- <canvas class="row" id="graph_loader"></canvas> -->
    <div class="table-wrap">
        <div class="row-12 m-0 table table-striped" id="dashboard_table"></div>
        <!-- <div id="pagination">
            <button id="prev-btn">&laquo; Prev</button>
            <button id="next-btn">Next &raquo;</button>
        </div> -->
    </div>
    <!--- <div class="graphBtn">
       <button id="add_graph" class="btn btn-primary">Add Graph</button>
    </div> -->
</div>
