<div class="wrapper">
    <div class="inner-wrapper">
        <div class="header table-search d-flex jc-sb">
            <div class="search"></div>
            <div class="filter d-flex">
                <a class="btn btn-primary" id="download_log">Download Logs</a>
            </div>
        </div>
        <div class="table-wrap">
            <div class="row-12 m-0 table table-striped" id="logs_table"></div>
        </div>
    </div>
</div>
<script>
// timer = setInterval(()=>{processLoading("logs")}, 60000);
</script>