<div class="wrapper">
    <div class="inner-wrapper">
        <!-- TradingView Widget BEGIN -->
        <!-- <div class="tradingview-widget-container">
            <div id="tradingview_72a40" style="min-height: 500px;"></div>
            <div class="tradingview-widget-copyright"><a href="https://in.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="../js/tv.js"></script>
            <script type="text/javascript">
            new TradingView.widget(
            {
            "autosize": true,
            "symbol": "BINANCE:CAKEBUSD",
            "interval": "5",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "in",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "hide_top_toolbar": true,
            "hide_legend": true,
            "container_id": "tradingview_72a40"
        }
            );
            </script>
        </div> -->
        <!-- TradingView Widget END -->
        <div class="table-wrap">
            <div class="row-12 m-0 table table-striped" id="signals_table"></div>
        </div>
    </div>
</div>